.DivNavigation {
    text-align: left;
    position: absolute;
    width: 49.5%;
    height: 78.5%;
    z-index: 1;
    left: 0.1%;
    top: 21%;
    border: solid;
    overflow: auto;
}

.DivErgebnis {
    text-align: left;
    position: absolute;
    width: 49.5%;
    height: 78.5%;
    z-index: 1;
    left: 50%;
    top: 21%;
    border: solid;
    overflow: auto;
}

.DivAbfrageleiste {
    text-align: center;
    position: absolute;
    width: 99.5%;
    height: 15%;
    z-index: 2;
    left: 0.1%;
    top: 5%;
    border: solid;
    overflow: auto;
}

.bannerDiv {
    background-color: rgb(109, 204, 64);
    position: absolute;
    width: 99.5%;
    left: 0.25%;
    top: 0.1%;
    bottom: 0.1%;
    height: 4.8%;
    z-index: 2;
}

.bannerDiv H5{
    text-align: left;
    color: white;
    display: inline-block;
}

.bannerDiv Img{
    position: relative;
    float: right;
    right: 1%;
    height: 99%;
}




.DivGesamtanzahl {
    text-align: center;
    position: relative;
    height: 10%;
    width: 96%;
    left: 2%;
    right: 2%;
    top: 2%;
    z-index: 2;
    border: dashed;
}


